/backend/target/

/frontend/resources/public/js/compiled/**
/frontend/resources/public/css/**
/frontend/bower_components/
/frontend/node_modules/

*.log
*.svg
.classpath
.project
*jar
/lib/
/classes/
/out/
target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.lein-git-deps/
.lein-failures

