/resources/public/js/compiled/**
/resources/public/css/**
/dependencies/
.classpath
.project
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.lein-git-deps/
/bower_components/
node_modules/
phantomjsdriver.log
.lein-failures
npm-debug.log

