* {
  margin: 0;
  padding: 0;
}
.hide {
  display: none;
}
.component,
form {
  margin: 10px 0;
  background: #7F9FF5;
  color: #000;
}
body {
  background: #fff;
}
input[type=file] {
  display: none;
}
button {
  position: relative;
}
li {
  list-style: none;
  padding: 0;
}
table.processes {
  border-collapse: collapse;
}
table.processes,
table.processes th,
table.processes tr,
table.processes td {
  border: 1px solid;
  padding: 5px;
}
.menu li {
  display: inline-block;
  background: #7F9FF5;
  padding: 5px;
  margin: 2px;
}
.dropdown {
  display: inline-block;
}
.dropdown ul {
  display: none;
  position: absolute;
}
.dropdown.open ul {
  display: block;
}
.notifications {
  z-index: 1;
  position: fixed;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  top: 0;
}
.notifications .notification {
  display: flex;
  margin: 5px;
  padding: 2px;
}
.notifications .notification .message {
  width: 100%;
}
.notifications .notification .close {
  width: 5%;
}
.notifications .notification-error {
  background: #ed2f2f;
}
.notifications .notification-success {
  background: #1ce829;
}
.change-set {
  padding-left: 20px;
  border: 1px solid #7F9FF5;
  margin: 5px;
}
.change-set .component > ul > li > * {
  display: inline-block;
  vertical-align: top;
}
.change-set .old {
  text-decoration: line-through;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0.6;
}
.loader {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 50%;
  border-radius: 1em;
  position: absolute;
  background-color: #826f6f;
  vertical-align: middle;
  margin: auto 0;
  z-index: 1;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes loader {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: calc(90%);
  }
}
