* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.component, form {
    margin: 10px 0;
    background: #7F9FF5;
    color: #000;
}

body {
    background: #fff;
}

li {
    list-style: none;
    padding: 0;
}

